/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../scss/_colors.scss */
.green {
  color: green;
}

/* line 9, ../scss/_colors.scss */
.white {
  color: #fff;
}

/* line 13, ../scss/_colors.scss */
.bold {
  font-weight: bold;
}

/* line 8, ../scss/style.scss */
* {
  box-sizing: border-box;
  color: white;
}

/* line 13, ../scss/style.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 35, ../scss/style.scss */
body {
  font-family: "cooper hewitt book", sans-serif;
  color: white;
  background: #0d0d0d;
}

/* line 41, ../scss/style.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-2.3.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 46, ../scss/style.scss */
.header {
  overflow: hidden;
  border-bottom: 1px solid grey;
}
/* line 48, ../scss/style.scss */
.header img {
  width: 150%;
  vertical-align: top;
}
@media screen and (min-width: 700px) {
  /* line 48, ../scss/style.scss */
  .header img {
    width: 100%;
  }
}

/* line 57, ../scss/style.scss */
.left {
  float: left;
  padding: 0;
}

/* line 62, ../scss/style.scss */
.right {
  float: right;
  padding: 0;
}

/* line 70, ../scss/style.scss */
.nav {
  font-weight: bold;
  background: #1a1a1a;
  min-height: 3.9375em;
  line-height: 3.9375em;
  font-size: 0.875em;
}
/* line 78, ../scss/style.scss */
.nav .nav-right {
  color: white;
}
@media screen and (min-width: 700px) {
  /* line 78, ../scss/style.scss */
  .nav .nav-right {
    float: right;
  }
}
/* line 86, ../scss/style.scss */
.nav .nav-right div {
  float: left;
  padding-left: 1em;
  font-size: 1em;
  line-height: 3.875em;
  cursor: pointer;
}
/* line 92, ../scss/style.scss */
.nav .nav-right div:nth-child(2) {
  background: #faa04b;
  padding: 0 20px;
  height: 3.8125em;
  border: 1px solid #f98619;
  margin-left: 2.5em;
}
@media screen and (max-width: 700px) {
  /* line 92, ../scss/style.scss */
  .nav .nav-right div:nth-child(2) {
    margin-left: 0;
  }
}
@media screen and (min-width: 700px) {
  /* line 111, ../scss/style.scss */
  .nav .dropdown {
    float: left;
  }
}
/* line 116, ../scss/style.scss */
.nav .dropdown:nth-child(1) {
  margin-left: 0;
}
/* line 120, ../scss/style.scss */
.nav .dropdown .dropbtn {
  background: #1a1a1a;
  height: 3.875em;
  line-height: 3.875em;
  color: white;
  padding-right: 1.5625em;
  padding-left: 1.5625em;
  cursor: pointer;
  box-sizing: content-box;
}
/* line 129, ../scss/style.scss */
.nav .dropdown .dropbtn:hover {
  background: #121212;
  border-bottom: #faa04b solid 1px;
  margin-bottom: -0.0625em;
}
/* line 135, ../scss/style.scss */
.nav .dropdown:nth-child(1) {
  padding-left: 0;
}
/* line 139, ../scss/style.scss */
.nav .dropdown:hover .dropdown-content {
  display: block;
}
/* line 145, ../scss/style.scss */
.nav .dropdown-content {
  display: none;
  overflow: hidden;
  background-color: white;
  min-width: 150px;
  z-index: 1;
  -moz-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.75);
  border-top: orange 1px solid;
}
@media screen and (min-width: 700px) {
  /* line 145, ../scss/style.scss */
  .nav .dropdown-content {
    position: absolute;
  }
}
/* line 166, ../scss/style.scss */
.nav .dropdown-content a {
  font-size: 1.0625em;
  color: white;
  padding: 0 20px;
  max-height: 2.5em;
  line-height: 2.5em;
  text-decoration: none;
  display: block;
  background-color: #343434;
}
/* line 176, ../scss/style.scss */
.nav .dropdown-content a:hover {
  background-color: #272727;
}
/* line 178, ../scss/style.scss */
.nav .dropdown-content a:hover .dropbtn {
  color: blue;
}
@media screen and (max-width: 700px) {
  /* line 187, ../scss/style.scss */
  .nav .responsive-nav {
    display: none;
    clear: both;
    width: 100%;
  }
}

/* line 199, ../scss/style.scss */
.burger-icon-ctr {
  float: left;
  font-size: 2.5em;
  padding-top: 0.25em;
  padding-left: 0.625em;
}
@media screen and (min-width: 700px) {
  /* line 199, ../scss/style.scss */
  .burger-icon-ctr {
    display: none;
  }
}
/* line 209, ../scss/style.scss */
.burger-icon-ctr .menu-close {
  display: none;
}

/* line 215, ../scss/style.scss */
.tweet-bar {
  clear: both;
  height: 1.5625em;
  line-height: 1.5625em;
  background-color: black;
}
@media screen and (max-width: 700px) {
  /* line 215, ../scss/style.scss */
  .tweet-bar {
    display: none;
  }
}

/* line 225, ../scss/style.scss */
.inner-tweet-bar {
  font-weight: normal;
  width: 74.68354%;
  margin: 0 auto;
  font-size: 0.625em;
}

/* line 232, ../scss/style.scss */
.game-scroll-bar {
  border-bottom: 1px #faa04b solid;
  height: 5.625em;
  background-color: #333333;
  line-height: 5.625em;
}

/* line 240, ../scss/style.scss */
.game-dropper {
  padding-left: 1.5625em;
  width: 11.39241%;
}
@media screen and (min-width: 700px) {
  /* line 240, ../scss/style.scss */
  .game-dropper {
    float: left;
  }
}
@media screen and (max-width: 700px) {
  /* line 240, ../scss/style.scss */
  .game-dropper {
    width: 100%;
    margin-right: 0.625em;
    font-size: 1.5625em;
  }
}

/* line 256, ../scss/style.scss */
.sports-window-ctr {
  background: #333333;
  width: 100%;
}
@media screen and (max-width: 700px) {
  /* line 256, ../scss/style.scss */
  .sports-window-ctr {
    float: left;
  }
}

/* line 264, ../scss/style.scss */
.sports-windows {
  visibility: hidden;
  background-color: #333333;
  width: 76.58228%;
  line-height: 1em;
  height: 5em;
}
@media screen and (max-width: 700px) {
  /* line 264, ../scss/style.scss */
  .sports-windows {
    margin-bottom: 0.375em;
  }
}
@media screen and (min-width: 700px) {
  /* line 264, ../scss/style.scss */
  .sports-windows {
    float: left;
  }
}
@media screen and (max-width: 700px) {
  /* line 264, ../scss/style.scss */
  .sports-windows {
    margin-left: 12%;
  }
}
/* line 283, ../scss/style.scss */
.sports-windows .sports-window {
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  min-height: 3.4375em;
  border: solid black 1px;
  background-color: #1a1a1a;
  padding: 0.5em;
  margin: 10px;
}
/* line 291, ../scss/style.scss */
.sports-windows .sports-window:hover {
  outline: #fbaa44 1px solid;
}
@media screen and (max-width: 700px) {
  /* line 283, ../scss/style.scss */
  .sports-windows .sports-window {
    background: red;
  }
}
/* line 302, ../scss/style.scss */
.sports-windows .sports-window-inner-title {
  font-size: 0.625em;
  color: darkgrey;
}
/* line 312, ../scss/style.scss */
.sports-windows .sports-window-inner-teamname {
  font-size: 0.8125em;
  font-weight: bold;
}
/* line 315, ../scss/style.scss */
.sports-windows .sports-window-inner-teamname span {
  margin-left: 6%;
  font-weight: normal;
  font-size: 0.75em;
}

/* line 324, ../scss/style.scss */
.predictions-title {
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  clear: both;
  background-color: #1a1a1a;
  height: 9.375em;
  overflow: auto;
}
/* line 331, ../scss/style.scss */
.predictions-title .predictions-main {
  text-align: center;
  margin: 0 auto;
}
/* line 336, ../scss/style.scss */
.predictions-title .predictions-main .team-title-cntr {
  clear: both;
  margin: 0 auto;
  margin-top: 0.625em;
  font-size: 1.875em;
  font-weight: bold;
}
/* line 345, ../scss/style.scss */
.predictions-title .predictions-main .team-title-cntr .team-circle-color {
  display: inline-block;
  background: purple;
  height: 30px;
  width: 30px;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  border-radius: 1.25em;
  border: orange 1px solid;
}
/* line 353, ../scss/style.scss */
.predictions-title .predictions-main .team-title-cntr .teams {
  display: inline-block;
  vertical-align: top;
  margin: 0 1.25em;
}

/* line 362, ../scss/style.scss */
.underliner {
  clear: both;
  margin: 0.625em auto;
  width: 1.5625em;
  border-bottom: #fff solid 1px;
  height: 1px;
}
