$green: #60dd63;
$green_b: #61e063;
$white: #ffffff;
$grey: #aaaaaa;
$black: #000000;

$grey_2: #e6e5e6;


$purple: #111441;
$maroon: #6f0036;
$orange: #fcaa35;
$red: #fc2842;

$background: #0c0c0c;
$nav-color: #1c1c1c;
// $nav-color: grey;
$slick-color: #343434;

$nav-height: 65px;
$game-scroll-bar: #333333;
$main: #0c0c0c;
// $main:black;
$dark-border:#343434;
$nav-lighter:#262626;

$light-grey: #939393;
$v-light-grey: lighten($light-grey, 30%);
$light-grey-bg: #f2f2f2;



.green{
  color: $green;
}
.white{
  color: $white;
}

.bold{
  font-weight: bold;
}
.orange{
  color: $orange;
}

.black-bg{
  background: $black;
}

.border-grey{
  border: 1px solid $dark-border;
}
