// Screen
// ======
@import 'compass';
@import "grids";
@import "reset";
@import "colors";

*{
  box-sizing: border-box;
  color: white;
}

a{
  text-decoration: none;
  cursor: pointer;
}


$break-small: 700px;
$break-large: 1030px;
$break-medium: 785px;

@mixin float-left {
  @include float(left);
}

@mixin float-right {
  @include float(right);
}

// @mixin center($columns, $context: $total-columns) {
//   width: columns($columns, $context);
//   margin: 0 auto;
// }
body{
  font-family: "cooper hewitt book", sans-serif;
  color: white;
  background: $main;
}

.container{
  @include container(100%);
  min-height: 100vh;
}

.header{
  overflow: hidden;
  img{
    @media screen and (min-width: $break-small) {width: 100%};
    width: 150%;
    vertical-align: top;
  }
  border-bottom: 1px solid grey;

}

.left{
  @include float-left;
  padding: 0;
}

.right {
  @include float-right;
  padding:0;
}

//***********************


.nav{
  font-weight: bold;
  background: $nav-color;
  min-height: em(63px);
  line-height:em(63px);
  font-size: em(14px);
  // overflow: hidden;

  .nav-right{

    @media screen and (min-width: $break-small) {
      @include float-right();
    }
    color: white;

    div {
      float: left;
      padding-left: em(16px);
      font-size: em(16px);
      line-height: em(62px);
      cursor: pointer;
      &:nth-child(2){
        background: $orange;
        padding: 0 20px;
        height: em(61px);
        border: 1px solid darken($orange, 10%);
        margin-left: em(40px);
        // @media screen and (min-width: $break-small) {
        //   @include float-left();
        // }
          @media screen and (max-width: $break-small) {
            margin-left: 0;

          }
      }
    }


  } //nav right end

  .dropdown {
    @media screen and (min-width: $break-small) {
      float: left;
    }

    &:nth-child(1){
      margin-left: 0;
    }

    .dropbtn {
      background: $nav-color;
      height: em(62px);
      line-height: em(62px);
      color: white;
      padding-right: em(25px);
      padding-left: em(25px);
      cursor: pointer;
      box-sizing: content-box;
      &:hover{
        background: darken($nav-color, 3%);
        border-bottom: $orange solid 1px;
        margin-bottom: em(-1px);
      } //dropbtn hover end
    } //dropbtm end
    &:nth-child(1){
      padding-left: 0;
    }

    &:hover .dropdown-content {
      display: block;
    }

  }

  .dropdown-content {

    display: none;
    overflow: hidden;
    // position: absolute;
    background-color: lighten(#f9f9f9, 5%);
    min-width: 150px;
    // margin-top:em(64px);
    z-index: 1;
    @include box-shadow(3px 3px 6px 1px rgba(0,0,0,0.75));
    // border:black 1px solid;
    border-top: orange 1px solid;
    // border
    @media screen and (min-width: $break-small) {position:absolute;}
    @media screen and (max-width: $break-small) {
      // right:auto;


    }
  }

  .dropdown-content a {
    font-size:em(17px);
      // clear:both;
    color: white;
    padding:0 20px;
    max-height: em(40px);
    line-height: em(40px);
    text-decoration: none;
    display: block;
    background-color: lighten($nav-color, 10%);
    &:hover{
      background-color: lighten($nav-color, 5%);
      .dropbtn {
        color: blue;
      }
      // outline: 1px white solid;
    }

    // &:hover
  }

  .responsive-nav{

    @media screen and (max-width: $break-small) {
      display: none;
      clear: both;
      width: 100%;

    }
  }
} //nav-bar END ************************


.burger-icon-ctr{
  float:left;
  font-size: em(40px);
  padding-left: em(10px);
  // line-height: em(62px);
    // height: em(62px);
  @media screen and (min-width: $break-small) {
    display: none;
  }
  .menu-close{
    display: none;
  }
}


.tweet-bar{
  clear: both;
  height: em(25px);
  line-height: em(25px);
  background-color: black;
  @media screen and (max-width:  $break-small){
    display:none;
  }

}
.inner-tweet-bar{
  font-weight: normal;
  width: span(12);
  margin: 0 auto;
  font-size: em(10px);
}

.game-scroll-bar{
  border-bottom: 1px $orange solid;
  // overflow: auto;
  height: em(90px);
  background-color:$game-scroll-bar;
  line-height: em(90px);
}

.game-dropper {
  padding-left: em(25px);
  // margin-top: em(27px);
  // margin-left: em(5px);

  width: span(2);
    @media screen and (min-width: $break-small) {float:left}
    @media screen and (max-width: $break-small) {

    width: span(16);
    margin-right: em(10px);
    font-size:em(25px);
  }
}

//sports window section
.sports-window-ctr{
    background: $game-scroll-bar;
    width: span(16);
    @media screen and (max-width: $break-small) {
      float:left;
      // overflow:auto;
    }
 }
  .sports-windows {
    visibility: hidden;
    background-color:$game-scroll-bar;
    width: span(12.3);
    line-height: 1em;
    height: em(80px);
    @media screen and (max-width: $break-small) {
      margin-bottom: em(6px);
      // overflow:auto;
    }


    // float:left;

    @media screen and (min-width: $break-small) {float:left}
      @media screen and (max-width: $break-small) {
        margin-left: 12%;
      }

    .sports-window {
      @include box-shadow(2px 2px 5px  rgba(0,0,0,0.75));
      @include border-radius(em(2px));
      min-height: em(55px);
      border: solid black 1px;
      background-color: $nav-color;
      padding: em(5px, 10px);
      margin: 10px;
      &:hover{
        outline: #fbaa44 1px solid;
      }
      @media screen and (max-width: $break-small) {
        background: red;
        // clear: both;
        // max-width: em(150px);
        // height: em(66px);
      }
    }

    .sports-window-inner-title{
      font-size: em(10px);
      color: darkgrey

    }

    .sports-window-inner-stat{
      // float: left;
    }

    .sports-window-inner-teamname{
      font-size: em(13px);
      font-weight: bold;
      span{
        margin-left: 6%;
        font-weight: normal;
        font-size:em(12px);
      }
    }

} //sports-windows

.predictions-title{
  @include box-shadow(0px 3px 5px 0px rgba(0,0,0,0.75));
  clear: both;
  background-color: $nav-color;
  height: em(150px);
  overflow: auto;

  .predictions-main{

    text-align: center;
    margin: 0 auto;

    .team-title-cntr{

      clear: both;
      margin: 0 auto;
      margin-top: em(10px);
      font-size: em(30px);
      font-weight: bold;


      .team-circle-color{
        display: inline-block;
        background: purple;
        height: 30px;
        width: 30px;
        @include border-radius(em(20px));
        border: orange 1px solid;
      }
      .teams{
        display: inline-block;
          vertical-align: top;
          margin: 0 em(20px);
      }
    }
  }
}

.underliner{
  clear: both;
  margin: em(10px) auto;
  width: em(25px);
  border-bottom: $white solid 1px;
  height: 1px;
}
