<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" /> -->

<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Palanquin" rel="stylesheet">
<link rel="stylesheet" href="../semantic/dropdown.min.css">
<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/icon.css">
<!-- slick -->
<link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
<link rel="stylesheet" href="../semantic/transition.min.css">

<script type="text/javascript" src="../jquery-3.1.1.js"></script>
<script type="text/javascript" src="../jquery-migrate-1.4.1.min.js"></script>
<script src="../semantic/jquery.min.js"></script>
<script src="../semantic/dropdown.min.js"></script>
<script src="../semantic/transition.min.js"></script>
<script type="text/javascript" src="../slick/slick.min.js"></script>
<script type="text/javascript" src="../app.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript" src="../highcharts.js"></script>
<link rel="stylesheet" href="../css/style.css">



  <title>MATCH PAGE</title>
</head>
<body>
<!--
  <script>




  </script> -->

<div class="container">

  <div class="header">
    <div class="header-left"><img src="../assets/si-logo.png" alt=""></div>
    <div class="header-right"><img src="../assets/SI_Web_Banner.jpg" alt=""></div>
  </div>




  <div class="nav">
    <div class="inner-nav">
      <div class="burger-icon-ctr">

        <span class="burger-icon">
          <div>
            <i class="fa fa-bars" aria-hidden="true"></i>

          </div>
        </span>
        <span class="menu-close">
          <div>&#x2715;</div>
        </span>

        <img src="../assets/si-logo.png" alt="" class ="mob-logo">
        <div class="n-sup">SIGN UP</div>
      </div>
      <div class="dropdown ">
        <div class="dropbtn responsive-nav underline-nav black">HOME</div>
        <!-- <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>
      <div class="dropdown">
      <div class="dropbtn responsive-nav">SPORT</div>
      <!-- <div class="dropdown-content">
        <a href="#">Link a</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div> -->
      </div>
      <div class="dropdown">
        <div class="dropbtn responsive-nav">HISTORICAL RESULTS</div>
        <!-- <div class="dropdown-content">
          <a href="#">Link to somewere with long name</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>
      <div class="dropdown">
        <div class="dropbtn responsive-nav">BLOG</div>
        <!-- <div class="dropdown-content">
          <a href="#">Another really long link to some page if needed</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>
      <div class="dropdown">
        <div class="dropbtn responsive-nav">PLANS</div>
        <!-- <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>


      <div class="nav-right">
        <div class="responsive-nav">WELCOME USER</div>
        <div class="responsive-nav"><a href="#">REGISTER</a></div>
      </div>

    </div> <!-- inner nav -->
  </div> <!-- nav -->


  <div class="tweet-bar">
    <div class="inner-tweet-bar">
        <p class="left">Blake Misipeka generated an AFL lineup for DraftStars 29 minutes ago</p>
        <p class="right">63412 Lineups Crunched</p>
    </div>
  </div>

  <div class="game-scroll-bar">

  <div class="mp-gd-wrp">
    <div class="game-dropper">
      <div class="ui simple scrolling dropdown ">
        <input type="hidden" name="sport">

        <div class="text white bold">NFL</div>
        <i class="angle bold down icon"></i>
        <div class="menu">
          <div class="item white">NFL</div>
          <div class="item">NBA</div>
          <div class="item">SOCCER</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sports-window-ctr">
      <span class="main-left-selector"><img src="../assets/icon-caret-left.svg" alt=""></span>
      <div class="sports-windows">

        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>

        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>

        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>

    </div> <!-- sports windows -->
    <span class="main-right-selector"><img src="../assets/icon-caret-right.svg" alt=""></span>

</div><!-- sports windows container-->
</div> <!-- games scroll bar -->



  <div class="predictions-title">
    <div class="predictions-main">
      <div class="team-title-cntr">
        <div class="team-circle-color"></div>
        <div class="teams"><div>BRONCOS VS COWBOYS</div></div>
        <div class="team-circle-color"></div>
      </div>
    </div>
    <div class="underliner"></div>
    <div class="game-date">EXPLAINER TEXT ABOUT THE PAGE</div>
  </div>






<div class="main-page-container">
  <div class="how-to-bar-ctr">
    <div class="how-to-txt page-help-link right">
      How to use this page <span class="orange">[?]</span>
    </div>
  </div>
  <div class="page-container-left">

    <div class="games-round-title">
      ROUND 4 GAMES
    </div>
    <div class="round-games-scrollbar-ctr">

      <div class="caret-left-svg">
        <img src="../assets/icon-caret-left.svg" alt="">
      </div>
      <div class="games-round-scroller-ctr">



        <div class="games-round-scroller">

          <div >SOU <span>|</span> CBY</div>
          <div>SOU <span>|</span> CBY</div>
          <div>SOU <span>|</span> CBY</div>
          <div>SOU <span>|</span> CBY</div>

            <div class="round-games-responsive">SOU <span>|</span> CBY</div>
            <div class="round-games-responsive">SOU <span>|</span> CBY</div>
            <div class="round-games-responsive">SOU <span>|</span> CBY</div>
            <div class="round-games-responsive">SOU <span>|</span> CBY</div>

        </div>





      </div>
      <div class="caret-right-svg">
        <img src="../assets/icon-caret-right.svg" alt="">
      </div>

    </div>
    <div class="projected-ladder-title">VIEW PROJECTED LADDER</div>


    <div class="main-sports-section">



      <div class="live-running-wrap">
        <div class="lmp-running-inner">

          <div class="lmp-title">
            PROJECTED WIN
          </div>

          <div class="lmp-wrap">
            <div class="lmp-table-title">
                <div>TEAM</div><div>POINTS</div>
            </div>

            <div class="lmp-table-main">
              <div class="lmp-table-team">
                <div class="lmp-tt-left">
                    <span class="lmp-team-color"></span>BRISBANE<span>BRONCOS</span>
                    <div>Power Ranking<span>5</span></div>
                </div>
                <div class="lmp-tt-right">
                  <!-- <div class="lmp-tt-icon">0</div> -->
                  <div class="lmp-score">
                    <div class="lmp-score-ball">
                      <img src="../assets/afl_orangeball.png" alt="">
                    </div>
                    21.0
                  </div>
                  <!-- <div class="lmp-tt-islive"></div> -->

                </div>
              </div>
            </div>
            <div class="lmp-table-main">
              <div class="lmp-table-team">
                <div class="lmp-tt-left">
                    <span class="lmp-team-color"></span>NORTH QUEENSLAND<span>COWBOYS</span>
                    <div>Power Ranking<span>5</span></div>
                </div>
                <div class="lmp-tt-right">
                  <!-- <div class="lmp-tt-icon">0</div> -->
                  <div class="lmp-score">21.0</div>
                  <!-- <div class="lmp-tt-islive"></div> -->
                </div>
              </div>
            </div>
          </div><!-- lmp-wrap -->

        </div>

      </div>


      <div class="results-summary-ctr">
        <div class="results-summary-title">RESULTS SUMMARY</div>
        <!-- <div class="team-scores-inner">
          <div class="team-scores"><span class="winning-team">O</span><span class="score">19.0</span></div>
          <div class="team-scores"><span class="winning-team">O</span><span class="score">21.0</span></div>
        </div> -->
        <div class="home-results-summary-main">
          <div class="hrs-containers">

            <div class="hrs-a">
              <div class="hrs-icon">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </div>
              <div class="hrs-stat-wrp">
                <div class="hrs-stat">
                  62.5%
                  <div class="hrs-stat-punt">Chance of NQL</div>
                </div>

                <div class="hrs-stat-sub">
                  +2 <span>@</span> 1.a91
                </div>
              </div>
            </div>

            <div class="hrs-a">
              <div class="hrs-icon">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </div>
              <div class="hrs-stat-wrp">
                <div class="hrs-stat">
                  52.8%
                  <div class="hrs-stat-punt">Chance of Jordan Kahu</div>
                </div>
                <div class="hrs-stat-sub">
                  Scoring a try <span>@</span> $2.48
                </div>
              </div>
            </div>

            <div class="hrs-a">
              <div class="hrs-icon">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </div>
              <div class="hrs-stat-wrp">
                <div class="hrs-stat">
                  62.5%
                  <div class="hrs-stat-punt">Chance of Jordan Kahu</div>
                </div>
                <div class="hrs-stat-sub">
                  37.5 <span>@</span> 1.91
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- <div class="advert-full-width mg-top20 mb-20"> -->
        <div class="add-placeholder">ADVERT PLACEHOLDER SKINNY</div>
      <!-- </div> -->

    <div class="simulations-ctr-wrap">
      <div class="simulations-ctr">
        <div class="expander-box-text">TO WIN</div>

        <!-- <div class="sports-expander-btn">
          <span class="seb-plus">
            <i class="fa fa-plus" aria-hidden="true"></i></span>
            <span class="seb-minus"><i class="fa fa-chevron-down" aria-hidden="true"></i><
          </span>
        </div> -->
        <div class="sports-expander">
          <div class="sports-expander-inner">


            <div class="sei-main">
              <div class="sei-top-title">(Based on 10,000 simulations)</div>
              <!-- <div class="sei-top-inr"> -->
                <div class="sei-inner-left">
                  <div class="sei-inr-top">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <div>BNE</div>
                    <div>EST.ROI</div>
                    <div class="ch-bold">-8.6%</div>
                  </div>
                  <div class="sei-inr-bottom">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <div>NQL</div>
                    <div>EST.ROI</div>
                    <div class ="ch-bold">+4.7%</div>
                  </div>
                </div>

                <div class="hc-pie-ctr">
                  <div class="hc-pie-ctr-inr">
                    <div class="hc-pie" id="container2"></div>
                  </div>

                </div>

                <div class="sei-inner-right">
                  <div class="sei-inr-top">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <div>BNE</div>
                    <div>EST.ROI</div>
                    <div class="ch-bold">-8.6%</div>
                  </div>
                  <div class="sei-inr-bottom">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <div>NQL</div>
                    <div>EST.ROI</div>
                    <div class ="ch-bold">+4.7%</div>
                  </div>
                </div>

            </div>
            <div class="sei-top-bottom">

              <div class="sei-stats">

                <span>Broncos</span>
                <div>1.85</div>
              </div>
              <div class="sei-stats">37.9</div>
              <div class="sei-stats">
                <span>Cowboys</span>
                <div>2.1</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="simulations-ctr">
        <div class="expander-box-text">TO WIN</div>

        <!-- <div class="sports-expander-btn">
          <span class="seb-plus">
            <i class="fa fa-plus" aria-hidden="true"></i></span><span class="seb-minus"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </div> -->

        <div class="sports-expander">
          <div class="sports-expander-inner">


            <div class="sei-main">
              <div class="sei-top-title">(Based on 10,000 simulations)</div>
              <!-- <div class="sei-top-inr"> -->
                <div class="sei-inner-left">
                  <div class="sei-inr-top">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <div>BNE</div>
                    <div>EST.ROI</div>
                    <div class="ch-bold">-8.6%</div>
                  </div>
                  <div class="sei-inr-bottom">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <div>NQL</div>
                    <div>EST.ROI</div>
                    <div class ="ch-bold">+4.7%</div>
                  </div>
                </div>

                <div class="hc-pie-ctr">
                  <div class="hc-pie-ctr-inr">
                    <div class="hc-pie" id="container1"></div>
                  </div>

                </div>

                <div class="sei-inner-right">
                  <div class="sei-inr-top">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <div>BNE</div>
                    <div>EST.ROI</div>
                    <div class="ch-bold">-8.6%</div>
                  </div>
                  <div class="sei-inr-bottom">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <div>NQL</div>
                    <div>EST.ROI</div>
                    <div class ="ch-bold">+4.7%</div>
                  </div>
                </div>

            </div>
            <div class="sei-top-bottom">
              <div class="sei-stats">
                <span>Broncos</span>
                <div>1.85</div>
              </div>
              <div class="sei-stats">37.5</div>
              <div class="sei-stats">
                <span>Cowboys</span>
                <div>2.1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="team-stats-ctr">
        <div class="team-stats-title">
          BRONCOS
        </div>
        <div class="team-stats-inr">
          <div class="team-stats-int-title">

            <div class="tsit-player">Player</div>
            <div class="1try">1st Try</div>
            <div class="atry">Anytime Try</div>
            <div class="1ttry">1st Team Try</div>
            <div class="ft-pts">Fantasy Pts</div>

          </div>
          <div class="team-stats-inr-body">

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

          </div>
        </div>
      </div>

      <div class="team-stats-ctr">
        <div class="team-stats-title">
          BRONCOS
        </div>
        <div class="team-stats-inr">
          <div class="team-stats-int-title">

            <div class="tsit-player">Player</div>
            <div class="1try">1st Try</div>
            <div class="atry">Anytime Try</div>
            <div class="1ttry">1st Team Try</div>
            <div class="ft-pts">Fantasy Pts</div>

          </div>
          <div class="team-stats-inr-body">

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttrry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

            <div class="team-stats-row">
              <div class="tsr-player">LACHLAN <span>COOTE</span></div>
              <div class="tsr-1try">3.5%</div>
              <div class="tsr-atry">18.6%</div>
              <div class="trs-1ttry">9.7%</div>
              <div class="tsr-ft-pts">31.2</div>
            </div>

          </div>
        </div>
      </div>

    </div> <!-- main-sports-section -->









    <div class="advert-full-width">
      <img src="../assets/adverts/Banner_BigBash16.jpg" alt="">
    </div>



  </div><!-- ***END page cnter left -->
  <div class="page-container-right">

    <div class="inner-ctr-right">


        <div class="adverts-right-title">RECENT ARTICLES</div>

      <div class="results-fantasy-articles">
        <div class="rfa-image">
          <img src="../assets/pexels-photo.png" alt="">
        </div>
        <div class="rfa-text">
          FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
          <span>CONTINUE READING</span>
        </div>
      </div>
      <div class="results-fantasy-articles">
          <div class="rfa-image">
            <img src="../assets/pexels-photo.png" alt="">
          </div>
          <div class="rfa-text">
            FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
            <span>CONTINUE READING</span>
          </div>
      </div>
      <div class="results-fantasy-articles">
          <div class="rfa-image">
            <img src="../assets/pexels-photo.png" alt="">
          </div>
          <div class="rfa-text">
            FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
            <span>CONTINUE READING</span>
          </div>
      </div>
      <div class="large-orange-button ">
          VIEW MORE ARTICLES
      </div>


      <div class="advert-full-width">
          <img src="../assets/draft-ads/eb_nrl.jpg" alt="">
      </div>


      <div class="previous-games-ctr">
          UPCOMING
        <div class="previous-game-title">
          <span>MON, 28 MAR 2016</span> 7:00pm, Southern Cross Group Stadium
        </div>
        <div class="previous-games"><div class="ps-ldr-color"></div>CRONULLA <span>SHARKS</span></div>
        <div class="previous-games"><div class="ps-ldr-color"></div>MELBOURNE  <span>STORM</span></div>
        <div class="value-bets-results">
          <div>VALUE BET RESULTS:</div>
          <div><i class="fa fa-angle-down" aria-hidden="true"></i>
            <span>$132.50 (-22.1%)</span>
          </div>
        </div>
        <div class="countdown-red">Starting in 00:10:00</div>
      </div>



      <div class="results-social-media">
        <div>Join the conversation</div>
        <!-- <div class="results-socials"> -->
          <div class="share-socials">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        <!-- </div> -->
      </div>


    </div>

  </div><!-- ***END page cnter RIGHT -->

</div> <!-- main page container end -->


<div class="icon-footer">

  <div>
    <img src="../assets/fa_logo.png" alt=""></div>
  <div>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <p>© 2015-2016 Hypometer Technologies Pty Ltd | ABN: 78 609 507 744 | US Patent Pending </p>
    <p>Fantasy Insider is in no way affiliated with or endorsed by the AFL, NRL, or anyone else.</p>
  </div>

  <div>Gamble Responsibly</div>


</div>




</div> <!-- container -- >





</body>
</html>
