<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" /> -->

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Palanquin" rel="stylesheet">
  <link rel="stylesheet" href="semantic/dropdown.min.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/icon.css">
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <link rel="stylesheet" href="semantic/transition.min.css">

  <script type="text/javascript" src="jquery-3.1.1.js"></script>
  <script type="text/javascript" src="jquery-migrate-1.4.1.min.js"></script>
  <script src="semantic/jquery.min.js"></script>
  <script src="semantic/dropdown.min.js"></script>
  <script src="semantic/transition.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <script type="text/javascript" src="highcharts.js"></script>
    <link rel="stylesheet" href="css/style.css">


      <title>Stats Insider</title>
    </head>
    <body onresize="myFunction()">



    </body>
    </html>
