<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" /> -->

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Palanquin" rel="stylesheet">
  <link rel="stylesheet" href="../semantic/dropdown.min.css">
  <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/icon.css">
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
  <link rel="stylesheet" href="../semantic/transition.min.css">

  <script type="text/javascript" src="../jquery-3.1.1.js"></script>
  <script type="text/javascript" src="../jquery-migrate-1.4.1.min.js"></script>
  <script src="../semantic/jquery.min.js"></script>
  <script src="../semantic/dropdown.min.js"></script>
  <script src="../semantic/transition.min.js"></script>
  <script type="text/javascript" src="../slick/slick.min.js"></script>
  <script type="text/javascript" src="../app.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <!-- <script type="text/javascript" src="highcharts.js"></script> -->
    <link rel="stylesheet" href="../css/style.css">




<title>ROUND PAGE</title>
</head>
<body>




<div class="container">

  <div class="header">
    <div class="header-left"><img src="../assets/si-logo.png" alt=""></div>
    <div class="header-right"><img src="../assets/SI_Web_Banner.jpg" alt=""></div>
  </div>




  <div class="nav">
    <div class="inner-nav">
      <div class="burger-icon-ctr">

        <span class="burger-icon">
          <div>
            <i class="fa fa-bars" aria-hidden="true"></i>

          </div>
        </span>
        <span class="menu-close">
          <div>&#x2715;</div>
        </span>

        <img src="../assets/si-logo.png" alt="" class ="mob-logo">
        <div class="n-sup">SIGN UP</div>
      </div>
      <div class="dropdown ">
        <div class="dropbtn responsive-nav underline-nav black">HOME</div>
        <!-- <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>
      <div class="dropdown">
      <div class="dropbtn responsive-nav">SPORT</div>
      <!-- <div class="dropdown-content">
        <a href="#">Link a</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div> -->
      </div>
      <div class="dropdown">
        <div class="dropbtn responsive-nav">HISTORICAL RESULTS</div>
        <!-- <div class="dropdown-content">
          <a href="#">Link to somewere with long name</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>
      <div class="dropdown">
        <div class="dropbtn responsive-nav">BLOG</div>
        <!-- <div class="dropdown-content">
          <a href="#">Another really long link to some page if needed</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>
      <div class="dropdown">
        <div class="dropbtn responsive-nav">PLANS</div>
        <!-- <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>


      <div class="nav-right">
        <div class="responsive-nav">WELCOME USER</div>
        <div class="responsive-nav"><a href="#">REGISTER</a></div>
      </div>

    </div> <!-- inner nav -->
  </div> <!-- nav -->


  <div class="tweet-bar">
    <div class="inner-tweet-bar">
        <p class="left">Blake Misipeka generated an AFL lineup for DraftStars 29 minutes ago</p>
        <p class="right">63412 Lineups Crunched</p>
    </div>
  </div>

  <div class="game-scroll-bar">

  <div class="mp-gd-wrp">
    <div class="game-dropper">
      <div class="ui simple scrolling dropdown ">
        <input type="hidden" name="sport">

        <div class="text white bold">NFL</div>
        <i class="angle bold down icon"></i>
        <div class="menu">
          <div class="item white">NFL</div>
          <div class="item">NBA</div>
          <div class="item">SOCCER</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sports-window-ctr">
      <span class="main-left-selector"><img src="../assets/icon-caret-left.svg" alt=""></span>
      <div class="sports-windows">

        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>

        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>

        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>
        <div class="sports-window">
          <div class="sports-window-inner">
            <div class="sports-window-inner-title">
              NBA | FRI  23/01/2017
            </div>
            <div class="sports-window-inner-teamname">
              WAR <span>52%</span>
            </div>
            <div class="sports-window-inner-teamname">
              GLD  <span>48%</span>
              </div>
          </div>
          <div class="sports-window-ball-ctr">
            <img src="../assets/afl_whiteball.png" alt="">
          </div>
        </div>

    </div> <!-- sports windows -->
    <span class="main-right-selector"><img src="../assets/icon-caret-right.svg" alt=""></span>

</div><!-- sports windows container-->
</div> <!-- games scroll bar -->


  <div class="predictions-title">
    <div class="predictions-main">
      <div class="team-title-cntr">

        <div class="teams">NRL HUB</div>

      </div>
    </div>
    <div class="underliner"></div>
    <div class="game-date bold">EXPLAINER TEXT ABOUT PAGE</div>
    <div class="game-date">MORE EXPLAINING GOING ON</div>
  </div>


  <div class="main-page-container">

    <div class="tweet-bar">
      <div class="inner-tweet-bar">
          <!-- <p class="left">Blake Misipeka generated an AFL lineup for DraftStars 29 minutes ago</p> -->
          <p class="page-help-link right ">HOW TO USE THIS PAGE <span>[?]</span></p>

      </div>
    </div>

    <div class="page-container-right">
      <div class="right-inner-custom-ctr">
        <div class="large-orange-button">
            VIEW CURRENT ROUND MATCHES
        </div>
        <div class="large-orange-button">
            VIEW HISTORICAL RESULTS SUMMARY
        </div>



        <!-- <div class="proj-season-ladder-outer-wrap"> -->
          <div class="proj-season-ladder-ctr">
            <div class="project-season-title">
              PROJECTED SEASON LADDER
            </div>

          <div class="projected-season-ladder">
              <div class="ps-ladder-top">
                <div class="psl-text">  TEAM</div>

              </div>
              <div class="projected-season-ladder-inner">
                <div class="ps-ladders">
                  <div class="ps-number">1</div>
                  <div class="ps-team"><div class="ps-ldr-color"></div>ADELAIDE <span>CROWS</span></div>
                  <div class="ps-score">16</div>
                </div>
                <div class="ps-ladders">
                  <div class="ps-number">2</div>
                  <div class="ps-team"><div class="ps-ldr-color"></div>BRISBANE <span>LIONS</span></div>
                  <div class="ps-score">16</div>
                </div>
                <div class="ps-ladders">
                  <div class="ps-number">3</div>
                  <div class="ps-team"><div class="ps-ldr-color"></div>NORTH MELBOURE <span>KANGAROOS</span></div>
                  <div class="ps-score">16</div>
                </div>
                <div class="ps-ladders">
                  <div class="ps-number">4</div>
                  <div class="ps-team"><div class="ps-ldr-color"></div>CARLTON <span>FOOTBALL CLUB</span></div>
                  <div class="ps-score">16</div>
                </div>
                <div class="ps-ladders">
                  <div class="ps-number">5</div>
                  <div class="ps-team"><span class="ps-ldr-color"></span>SYDNEY <span>ROOSTERS</span></div>
                  <div class="ps-score">16</div>
                </div>
                <div class="ps-ladders">
                  <div class="ps-number">6</div>
                  <div class="ps-team"><span class="ps-ldr-color"></span>MANLY <span>SEA EAGLES</span></div>
                  <div class="ps-score">16</div>
                </div>
                <div class="ps-ladders">
                  <div class="ps-number">7</div>
                  <div class="ps-team"><div class="ps-ldr-color"></div>CANBERRA <span>RAIDERS</span></div>
                  <div class="ps-score">16</div>
                </div>
                <div class="ps-ladders">
                  <div class="ps-number">8</div>
                  <div class="ps-team"><div class="ps-ldr-color"></div>GOLD COAST <span>TITANS</span></div>
                  <div class="ps-score">16</div>
                </div>
              </div>

          </div>
          <div class="projected-ladder-button">
            <div class="plbtn-inner">
              CLICK TO SEE PROJECTIONS
            </div>


          </div>

        </div> <!-- prohjected season ladder ctr -->
        <!-- </div> -->


      </div>

  </div> <!-- page-container-right -->


  <div class="page-container-left">


    <div class="main-article-ctr">
      <div class="main-article-wrap">
        <div class="article-left-btn"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
          <div class="main-article">
            <!-- <div> -->
              <img src="../images/Rugby-player.png" alt="">
            <!-- </div> -->
          </div>
          <div class="main-a-title">THIS IS THE NAME OF THE ARTICLE</div>
          <div class="main-a-match-date">
            <div class="">NRL</div>
            <div class="">17 FEB</div>
          </div>
        <div class="article-right-btn"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
      </div>

      <div class="sub-articles">
        <div class="sub-article">
          <div class="sub-art-img"><img src="../images/small-ad.jpg" alt=""></div>
          <div class="sub-art-text">FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN </div>
        </div>
        <div class="sub-article">
          <div class="sub-art-img"><img src="../images/small-ad.jpg" alt=""></div>
          <div class="sub-art-text">FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN </div>
        </div>
        <div class="sub-article">
          <div class="sub-art-img"><img src="../images/small-ad.jpg" alt=""></div>
          <div class="sub-art-text">FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN </div>
        </div>
        <div class="view-more-articles-link">
          VIEW ALL ARTICLES
        </div>
      </div>
    </div>

  </div> <!-- page-container-left -->




  <div class="round-page-round-title">
    <div class="rprt-inner">
      <div class="rprt-round">
        <div class="round-inner"><div>ROUND 4</div></div>
      </div>
    </div>
    <div class="underliner"></div>
    <div class="game-date">2ND MARCH - 4TH MARCH</div>
  </div>


  <div class="main-scroll-section">
    <div class="gd-rp-ctr">
      <div class="game-dropper">
        <div class="ui simple scrolling dropdown ">
          <input type="hidden" name="sport">

          <div class="text white bold">YEAR</div>
          <i class="angle bold down icon"></i>
          <div class="menu">
            <div class="item white">2017</div>
            <div class="item">2016</div>
            <div class="item">2015</div>
            <div class="item">2014</div>
          </div>
        </div>
      </div>
    </div>

    <div class="large-main-scroller">

      <div class="rounds-arrow-left left">
          <!-- <img class="arrow-img" src="../assets/greyleft.png" alt=""> -->
          <div></div>
      </div>

      <div class="round-button-container">

        <div class="rounds">1</div>
        <div class="rounds">2</div>
        <div class="rounds">3</div>
        <div class="rounds">4</div>
        <div class="rounds">5</div>
        <div class="rounds">6</div>
        <div class="rounds">7</div>
        <div class="rounds">8</div>
        <div class="rounds">9</div>
        <div class="rounds">10</div>
        <div class="rbc-resp">
          <div class="rounds">11</div>
          <div class="rounds">12</div>
          <div class="rounds">13</div>
          <div class="rounds">14</div>

          <div class="rounds">15</div>
          <div class="rounds">16</div>
          <div class="rounds">17</div>
          <div class="rounds">18</div>
          <div class="rounds">19</div>
          <div class="rounds">20</div>
          <div class="rounds">21</div>
          <div class="rounds">22</div>
          <div class="rounds">23</div>
          <div class="rounds">24</div>
          <div class="rounds">QF</div>
          <div class="rounds">SF</div>
        </div>
      </div>
      <div class="rounds-arrow-right">
          <!-- <img class="arrow-img" src="../assets/greyright.png" alt=""> -->
          <div></div>
      </div>

    </div>
  </div>


  <div class="match-round-windows-ctr ">
    <div class="match-round-windows-inner">
      <div class="match-round-venue-date">
        <span>FRI, 25 MAR 2016</span> 8:05pm, Suncorp Stadium
          <span>NRL Round 4</span>
      </div>
      <div class="match-round-team-stats-ctr">
        <div class="match-round-team-title">
          <div class="mrt-teams">TEAM (RECORD, ATS, RECORD)</div>
          <div class="mrt-predicted">PREDICTED</div>
          <div class="mrt-outcome">OUTCOME</div>
        </div>
        <div class="mrt-team-ctr">
          <div class="mrt-team">
            <div class="mrt-circle-color"></div>
            <div class="mrt-team-inr-wrp">BRISBANE
              <span>BRONCOS</span>
              <div class="mrt-power-ranking">
                Power Ranking <span>5</span>
              </div>
            </div>
          </div>
          <div class="mrt-team-pred ml">-</div>
          <div class="mrt-team-outcome ml">-</div>
        </div> <!-- mrt-team-ctr -->

        <div class="mrt-team-ctr">
            <div class="mrt-team">
              <div class="mrt-circle-color"></div>
              <div class="mrt-team-inr-wrp">
                NORTH QUEENSLAND
                <span>COWBOYS</span>
                <div class="mrt-power-ranking">
                  Power Ranking <span>5</span>
                </div>
              </div>
            </div>
            <div class="mrt-team-pred ml">-</div>
            <div class="mrt-team-outcome ml">-</div>
          </div>
          <div class="mrt-in-progress">IN PROGRESS</div>
        </div> <!-- mrt-team-ctr -->

      <div class="mr-value-bets-ctr">
        <div class="mrv-results-inner">
          <div class="mrv-text">VALUE BET RESULTS:</div>
          <div class="mrv-numbers">
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            $180.00 <span>(30%)</span>
          </div>

        </div>
        <div class="mrv-projections">
          <div class="projections-share">
            SHARE PROJECTIONS
          </div>
          <div class="share-socials">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>

      </div>


    </div><!-- match-round-windows-inner -->

    <div class="detailed-match-link-btn">VIEW DETAILED MATCH PAGE</div>
    <div class="countdown-to-match-live">LIVE</div>
  </div> <!-- match-round-windows-ctr -->

  <div class="match-round-windows-ctr last">
    <div class="match-round-windows-inner">
      <div class="match-round-venue-date">
        <span>FRI, 25 MAR 2016</span> 8:05pm, Suncorp Stadium
          <span>NRL Round 4</span>
      </div>
      <div class="match-round-team-stats-ctr">
        <div class="match-round-team-title">
          <div class="mrt-teams">TEAM (RECORD, ATS, RECORD)</div>
          <div class="mrt-predicted">PREDICTED</div>
          <div class="mrt-outcome">OUTCOME</div>
        </div>
        <div class="mrt-team-ctr">
          <div class="mrt-team">
            <div class="mrt-circle-color"></div>
            <div class="mrt-team-inr-wrp">BRISBANE
              <span>BRONCOS</span>
              <div class="mrt-power-ranking">
                Power Ranking <span>5</span>
              </div>
            </div>
          </div>
          <div class="mrt-team-pred ml">19</div>
          <div class="mrt-team-outcome ml">20</div>
        </div> <!-- mrt-team-ctr -->

        <div class="mrt-team-ctr">
            <div class="mrt-team">
              <div class="mrt-circle-color"></div>
              <div class="mrt-team-inr-wrp">
                NORTH QUEENSLAND
                <span>COWBOYS</span>
                <div class="mrt-power-ranking">
                  Power Ranking <span>5</span>
                </div>
              </div>
            </div>
            <div class="mrt-team-pred ml">19</div>
            <div class="mrt-team-outcome ml">20</div>
          </div>
        </div> <!-- mrt-team-ctr -->

      <div class="mr-value-bets-ctr">
        <div class="mrv-results-inner">
          <div class="mrv-text">VALUE BET RESULTS:</div>
          <div class="mrv-numbers">
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            $180.00 <span>(30%)</span>
          </div>

        </div>
        <div class="mrv-projections">
          <div class="projections-share">
            SHARE PROJECTIONS
          </div>
          <div class="share-socials">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>

      </div>


    </div><!-- match-round-windows-inner -->

    <div class="detailed-match-link-btn">VIEW DETAILED MATCH PAGE</div>
    <div class="countdown-to-match-starting">STARTING IN 00:10:00</div>
  </div>

  <div class="advert-full-width-ctr">
    <div class="advert-full-width">
      <img src="../assets/adverts/Banner_BigBash16.jpg" alt="">
    </div>
  </div>

  <div class="match-round-windows-ctr ">
    <div class="match-round-windows-inner">
      <div class="match-round-venue-date">
        <span>FRI, 25 MAR 2016</span> 8:05pm, Suncorp Stadium
        <span>NRL Round 4</span>
      </div>
      <div class="match-round-team-stats-ctr">
        <div class="match-round-team-title">
          <div class="mrt-teams">TEAM (RECORD, ATS, RECORD)</div>
          <div class="mrt-predicted">PREDICTED</div>
          <div class="mrt-outcome">OUTCOME</div>
        </div>
        <div class="mrt-team-ctr">
          <div class="mrt-team">
            <div class="mrt-circle-color"></div>
            <div class="mrt-team-inr-wrp">BRISBANE
              <span>BRONCOS</span>
              <div class="mrt-power-ranking">
                Power Ranking <span>5</span>
              </div>
            </div>
          </div>
          <div class="mrt-team-pred ml">19</div>
          <div class="mrt-team-outcome ml">20</div>
        </div> <!-- mrt-team-ctr -->

        <div class="mrt-team-ctr">
            <div class="mrt-team">
              <div class="mrt-circle-color"></div>
              <div class="mrt-team-inr-wrp">
                NORTH QUEENSLAND
                <span>COWBOYS</span>
                <div class="mrt-power-ranking">
                  Power Ranking <span>5</span>
                </div>
              </div>
            </div>
            <div class="mrt-team-pred ml">19</div>
            <div class="mrt-team-outcome ml">20</div>
          </div>
        </div> <!-- mrt-team-ctr -->

      <div class="mr-value-bets-ctr">
        <div class="mrv-results-inner">
          <div class="mrv-text">VALUE BET RESULTS:</div>
          <div class="mrv-numbers">
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            $180.00 <span>(30%)</span>
          </div>

        </div>
        <div class="mrv-projections">
          <div class="projections-share">
            SHARE PROJECTIONS
          </div>
          <div class="share-socials">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>

      </div>


    </div><!-- match-round-windows-inner -->

    <div class="detailed-match-link-btn">VIEW DETAILED MATCH PAGE</div>
    <div class="countdown-to-match">AS IT HAPPENED</div>
  </div> <!-- match-round-windows-ctr -->

  <div class="match-round-windows-ctr last">
    <div class="match-round-windows-inner">
      <div class="match-round-venue-date">
        <span>FRI, 25 MAR 2016</span> 8:05pm, Suncorp Stadium
          <span>NRL Round 4</span>
      </div>
      <div class="match-round-team-stats-ctr">
        <div class="match-round-team-title">
          <div class="mrt-teams">TEAM (RECORD, ATS, RECORD)</div>
          <div class="mrt-predicted">PREDICTED</div>
          <div class="mrt-outcome">OUTCOME</div>
        </div>
        <div class="mrt-team-ctr">
          <div class="mrt-team">
            <div class="mrt-circle-color"></div>
            <div class="mrt-team-inr-wrp">BRISBANE
              <span>BRONCOS</span>
              <div class="mrt-power-ranking">
                Power Ranking <span>5</span>
              </div>
            </div>
          </div>
          <div class="mrt-team-pred ml">19</div>
          <div class="mrt-team-outcome ml">20</div>
        </div> <!-- mrt-team-ctr -->

        <div class="mrt-team-ctr">
            <div class="mrt-team">
              <div class="mrt-circle-color"></div>
              <div class="mrt-team-inr-wrp">
                NORTH QUEENSLAND
                <span>COWBOYS</span>
                <div class="mrt-power-ranking">
                  Power Ranking <span>5</span>
                </div>
              </div>
            </div>
            <div class="mrt-team-pred ml">19</div>
            <div class="mrt-team-outcome ml">20</div>
          </div>
        </div> <!-- mrt-team-ctr -->

      <div class="mr-value-bets-ctr">
        <div class="mrv-results-inner">
          <div class="mrv-text">VALUE BET RESULTS:</div>
          <div class="mrv-numbers">
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            $180.00 <span>(30%)</span>
          </div>

        </div>
        <div class="mrv-projections">
          <div class="projections-share">
            SHARE PROJECTIONS
          </div>
          <div class="share-socials">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>

      </div>


    </div><!-- match-round-windows-inner -->

    <div class="detailed-match-link-btn">VIEW DETAILED MATCH PAGE</div>
    <div class="countdown-to-match">AS IT HAPPENED</div>
  </div>

  <div class="match-round-windows-ctr ">
    <div class="match-round-windows-inner">
      <div class="match-round-venue-date">
        <span>FRI, 25 MAR 2016</span> 8:05pm, Suncorp Stadium
          <span>NRL Round 4</span>
      </div>
      <div class="match-round-team-stats-ctr">
        <div class="match-round-team-title">
          <div class="mrt-teams">TEAM (RECORD, ATS, RECORD)</div>
          <div class="mrt-predicted">PREDICTED</div>
          <div class="mrt-outcome">OUTCOME</div>
        </div>
        <div class="mrt-team-ctr">
          <div class="mrt-team">
            <div class="mrt-circle-color"></div>
            <div class="mrt-team-inr-wrp">BRISBANE
              <span>BRONCOS</span>
              <div class="mrt-power-ranking">
                Power Ranking <span>5</span>
              </div>
            </div>
          </div>
          <div class="mrt-team-pred ml">19</div>
          <div class="mrt-team-outcome ml">20</div>
        </div> <!-- mrt-team-ctr -->

        <div class="mrt-team-ctr">
            <div class="mrt-team">
              <div class="mrt-circle-color"></div>
              <div class="mrt-team-inr-wrp">
                NORTH QUEENSLAND
                <span>COWBOYS</span>
                <div class="mrt-power-ranking">
                  Power Ranking <span>5</span>
                </div>
              </div>
            </div>
            <div class="mrt-team-pred ml">19</div>
            <div class="mrt-team-outcome ml">20</div>
          </div>
        </div> <!-- mrt-team-ctr -->

      <div class="mr-value-bets-ctr">
        <div class="mrv-results-inner">
          <div class="mrv-text">VALUE BET RESULTS:</div>
          <div class="mrv-numbers">
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            $180.00 <span>(30%)</span>
          </div>

        </div>
        <div class="mrv-projections">
          <div class="projections-share">
            SHARE PROJECTIONS
          </div>
          <div class="share-socials">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>

      </div>


    </div><!-- match-round-windows-inner -->

    <div class="detailed-match-link-btn">VIEW DETAILED MATCH PAGE</div>
    <div class="countdown-to-match">AS IT HAPPENED</div>
  </div> <!-- match-round-windows-ctr -->

  <div class="match-round-windows-ctr last">
    <div class="match-round-windows-inner">
      <div class="match-round-venue-date">
        <span>FRI, 25 MAR 2016</span> 8:05pm, Suncorp Stadium
          <span>NRL Round 4</span>
      </div>
      <div class="match-round-team-stats-ctr">
        <div class="match-round-team-title">
          <div class="mrt-teams">TEAM (RECORD, ATS, RECORD)</div>
          <div class="mrt-predicted">PREDICTED</div>
          <div class="mrt-outcome">OUTCOME</div>
        </div>
        <div class="mrt-team-ctr">
          <div class="mrt-team">
            <div class="mrt-circle-color"></div>
            <div class="mrt-team-inr-wrp">BRISBANE
              <span>BRONCOS</span>
              <div class="mrt-power-ranking">
                Power Ranking <span>5</span>
              </div>
            </div>
          </div>
          <div class="mrt-team-pred ml">19</div>
          <div class="mrt-team-outcome ml">20</div>
        </div> <!-- mrt-team-ctr -->

        <div class="mrt-team-ctr">
            <div class="mrt-team">
              <div class="mrt-circle-color"></div>
              <div class="mrt-team-inr-wrp">
                NORTH QUEENSLAND
                <span>COWBOYS</span>
                <div class="mrt-power-ranking">
                  Power Ranking <span>5</span>
                </div>
              </div>
            </div>
            <div class="mrt-team-pred ml">19</div>
            <div class="mrt-team-outcome ml">20</div>
          </div>
        </div> <!-- mrt-team-ctr -->

      <div class="mr-value-bets-ctr">
        <div class="mrv-results-inner">
          <div class="mrv-text">VALUE BET RESULTS:</div>
          <div class="mrv-numbers">
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            $180.00 <span>(30%)</span>
          </div>

        </div>
        <div class="mrv-projections">
          <div class="projections-share">
            SHARE PROJECTIONS
          </div>
          <div class="share-socials">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>

      </div>


    </div><!-- match-round-windows-inner -->

    <div class="detailed-match-link-btn">VIEW DETAILED MATCH PAGE</div>
    <div class="countdown-to-match">AS IT HAPPENED</div>
  </div>

  <div class="advert-full-width-ctr">
    <div class="advert-full-width">
      <img src="../assets/adverts/Banner_BigBash16.jpg" alt="">
    </div>
  </div>

  </div> <!--main page ctr -->
</div> <!-- main container -->




  </div> <!--main page ctr -->

  <div class="icon-footer">

    <div>
      <img src="../assets/fa_logo.png" alt=""></div>
    <div>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <p>© 2015-2016 Hypometer Technologies Pty Ltd | ABN: 78 609 507 744 | US Patent Pending </p>
      <p>Fantasy Insider is in no way affiliated with or endorsed by the AFL, NRL, or anyone else.</p>
    </div>

    <div>Gamble Responsibly</div>


  </div>

</div> <!-- main container -->





</body>
</html>
