@import "compass";

.p-profile-innr{
  background: $white;
  border: 1px solid $orange;
  height: 200px;
}

.p-profile-left{
  @include span(6 of 10);
  border: 1px $orange solid;
  background: $white;
  // height: 150px;
  padding: 15px;

  .pp-jersey{
    @include span(1.2 of 5);
    img{
      width: 100%;
    }
  }
  .pp-name-wrp{
    @include span(3.8 of 5);
    @include last();
    // border: 1px solid red;
    .pp-name{
      font-family: 'cooper-hewitt-bold';
      color: $orange;
      font-size: em(30px);
      font-style: italic;
      margin-bottom: 10px;
      margin-top: 37px;
    }
    .pp-team{
      border-bottom: 1px solid $v-light-grey;
      font-family: 'roboto-bold';
      font-size: em(22px);
      letter-spacing: 0.04em;
    }
  }


}

.p-profile-right{
  @include span(4 of 10);
  @include last();
  padding: 15px;
  background: $white;
  border: 1px $orange solid;
  height: 186px;
  padding-top: 72px;

  .pp-ind-p-rating{
    padding-bottom: 10px;
    border-bottom: 1px solid $v-light-grey;
    font-family: 'roboto-bold';
    letter-spacing: 0.04em;
    font-size: em(13px);
    span{
      float:right;
    }
  }

}

.player-rating-wrp{
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-rating-left{
  padding: 15px;
  background: $white;
  @include span(7 of 10);
}
.p-rating-ot{
  .p-rating-ot-title{
    font-family: 'roboto-bold';
    letter-spacing: 0.04em;
    font-size: em(13px);
    border-bottom: 1px solid $v-light-grey;
    width: 200px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .prot-table{

    overflow: hidden;
    background: grey;

    img{
      width: 100%;
      vertical-align: bottom;
    }
  }
}

.p-rating-right{
  font-family: 'roboto-bold';
  letter-spacing: 0.04em;
  font-size: 1em;
  padding: 15px;
  background: $white;
  @include span(3 of 10);
  @include last();

  .current-sqd-title{
    width: 80%;
  }
  .current-squad-lu{
    height: 242px;
    .cu-sq-lu-name{
      padding-top: 17px;
      padding-bottom: 8px;
      margin-left: 10px;
      border-bottom: 1px solid #e0e0e0;
    }

  }
}
