@import "compass";
$break-small: 750px;
$break-large: 1030px;
$break-medium: 850px;


.adverts-right-title{
  color: $white;
  font-size: em(4px);
  text-align: left;
  font-family: 'roboto-bold';
  margin-bottom: em(15px);
  letter-spacing: 0.08em;
  margin-top: -15px;
}

.sports-icon-ttl{
  letter-spacing: 0.08em;
  font-family: "cooper-hewitt-bold";
  margin-bottom:11px;
  font-size: em(8px);
  // -bottom: 3px;
}

.projections-sport-icons-wrap{

  width: 40%;
  @include float-left();

}
.pro-main-orange-button-ctr{
  width: 40%;
  @include float-right();
  height: 50px;
  overflow: auto;

  // border:1px solid white;
}

.projected-ladder-table{
  margin-bottom: em(40px);
  clear: both;

  .title-wrap{
    background: $black;
    font-family: 'roboto-medium';
    font-size: em(13px);
    max-height: 34px;
    margin-bottom: em(25px);
    border: 1px $dark-border solid;
    width: 100%;
    overflow: hidden;
  }

  .pl-title{
    font-family: 'roboto-bold';
    padding-left: 26px;

    @include span(5 of 12);



    padding-top: em(17px);
    padding-bottom: em(18px);
    border-bottom: $orange 2px solid;
    // border-right: 2px solid black;
    margin-bottom: em(20px);
    float: left;
    font-size: 10px;
    // letter-spacing: 0.04em;

  }
  .pl-title-headers{
    padding-top: 10px;
    font-size: 11px;
    padding-bottom: em(10px);
    font-family: 'roboto-thin';
    @include span( 7 of 12 );
    // background: purple;

    // height: em(34px);
    @include last();

    div{
      // font-size: em(10px);
      text-align: center;
      // @include span(1 of 11);
      &:first-child{
        @include span(1.50 of 11 (gutters: 0));
      }

      @include span(0.95 of 11 (gutters: 0));
      // margin-right: 0.4%;
      &:last-child{
        @include last;
      }
    }
  }


  .pl-main-table{

    .pl-main-table-row{
      font-family: 'cooper-hewitt-bold';
      overflow: hidden;
      letter-spacing: 0.02em;
      clear: both;
      background: blue;
      border-bottom: 1px solid $black;

      height: 36px;
      overflow: hidden;

      &:nth-child(odd){
        background: $dark-border;
      };
      &:nth-child(even){
        background: $nav-color;
      }

      .plmt-number{
        @include span(0.5 of 12);
        background: $main;
        font-size: em(10px);


        div{
          font-size: 23px;
          height: 36px;
          line-height: 36px;
          // vertical-align: middle;
          font-weight: bold;
          padding-top: 3px;
          // height: 100%;
          // background: red;
        }
      }
      .plmt-team{
        font-size: em(14px);
        color: $orange;
        padding-top: em(3px);
        // border-right: 2px solid $black;
        @include span( 4.5 of 12 (gutters: 0));
        height: 36px;
        line-height: 34px;
        padding-top: em(3px);
        // background: yellow;

        span{
          color: $white;
          &:nth-child(2){
            // color: purple;
            // margin-right: em(10px);

          }
          &:first-child{
            padding-top: em(6px);
            margin-right: em(10px);
            background: $maroon;
            border: $orange 2px solid;
            @include border-radius(100%);
            width: 15px;
            height: 15px;
            @include float-left();
            margin-right: em(20px);
            margin-left:6px;
            margin-top: 7px;
          }
        }
      }
      .plmt-points-ctr{

        font-size: em(10px);
        height: 36px;
        line-height: 36px;

        @include span( 7 of 12 );
        @include last();

        .plmt-points{

          // border: 1px white solid;

          &:first-child{
            @include span(1.50 of 11 (gutters: 0));
            background: $black;
            color: $orange;
            border: $main 1px solid;
            padding-top: 0px;
            height: 33px;
            margin-top: 1px;
            // padding-left: 10px;
            // margin-left: -5px;
            // margin-right: 5px;
          }

          height: 36px;
          line-height: 36px;
          text-align: center;

          @include span(0.95 of 11 (gutters: 0));
          &:last-child{
            @include last();
          }
        }
      }
    }
  }
}
