.container {
  width : 100%;
  max-width : 1200px;
  margin: 0 auto;
}
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}


.grid-container *{
  box-sizing: border-box;
}

.outline, .outline *{
  outline: 1px solid white;
}

*{
  /*outline: 1px solid white;*/
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.32%;
  /*-- our gutter --*/
  padding: 0  .8%  0 0;/
}

.center{
  text-align: center;
}

.middle{
  margin: 0 auto;
}


.col-1 {width: 6.886%;}
.col-2 {width: 15.33%;}
.col-3 {width: 23.8%;}
.col-4 {width: 32.26%;}
.col-5 {width: 40.73%;}
.col-6 {width: 49.2%;}
.col-7 {width: 57.66%;}
.col-8 {width: 66.13%;}
.col-9 {width: 74.6%;}
.col-10 {width: 83.06%;}
.col-11 {width: 91.53%;}
.col-12 {width: 100%;}
