<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Blog Page</title>
</head>
<body>


  <div class="container">
    <div class="blog-page-container">
      <div class="blog-page-inner-ctr">
        <div class="blog-page-left">

          <div class="blog-page-section">
            <div class="blog-section-title">Fantasy Insider’s Weekend Picks: Draftstars 19 – 22 August</div>
            <div class="blog-section-title-sub">Our top Draftstars picks and team of the week for AFL and NRL this weekend.</div>
            <div class="blog-sec-img-ctr">
              <img src="../../assets/featuredblog.jpg" alt="">
            </div>

            <p>Happy Friday and welcome to the Draftstars edition of the Fantasy Insider Weekend Picks. We’re in the  nal stretch now, and 6 weeks from now we’ll be talking about the Grand Finals, with just two teams to choose from in each sport. This week we have a full slate though, so let’s jump to the games.</p>
            <h5>AFL GRAND FINAL TIPS</h5>
            <p>In the AFL there’s a number of games this week with low totals predicted. In fact so many that we’ll take the opposite approach to normal, and tell you to look to the Brisbane/Geelong game, the Adelaide derby, as well as GWS/Fremantle and Collingwood/Gold Coast for your higher scoring contests. GWS and Geelong are both favoured by 60-70 points, with the Bulldogs 48.5 favorites, and Adelaide at 35.5 also worth a note.</p>
            <h5>HOT 30</h5>
            <p>In the NRL, games got underway last night with the Broncos continuing their return to form vs Canterbury. The rest of the weekend features a lot of games totaled between 40 and 44, with Newcastle over Gold Coast, North QLD over the Warriors, and Canberra over Parramatta those favoured by over 2 tries.</p>

          <div class="bp-table">
            TABLE
            <table class="bp-table-inner">
              <thead>
                <tr>
                  <th>HEADING 1</th>
                  <th>HEADING 2</th>
                  <th>HEADING 3</th>
                  <th>HEADING 4</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                </tr>
                <tr>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="bp-large-heading">
            Large heading example
          </div>

          <div class="bp-subheading">
            Sub heading example
          </div>

          <p>And that’s it for another week. Be sure to check out the Fantasy Insider website for another week of articles, as well as a special offer on our rest of season package, just $32.95 through the  nal siren of the season. Have a great weekend, and we’ll see you on the leaderboards!</p>

          <div class="blog-sec-img-ctr">
            <img src="../../assets/featuredblog.jpg" alt="">

            <div class="bp-img-caption">
              this is a caption this is someones
            </div>
          </div>


            <div class="bp-insider-tips-author">
              <div class="bp-posted-date">Posted <span>Fri 19 August by Fantasy Insider</span></div>
              <div class="bp-share-socials">
                SHARE ARTICLE
                <span>FB</span><span>TWIT</span><span>EM</span>
              </div>


              <div class="bp-avatar-ctr">
                <img src="" alt="">
              </div>
              <div class="bp-i-t-name">ROODY</div>
              <div class="bp-i-t-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries.
              </div>
            </div>

          </div>
          <div class="blog-page-section">


            <div class="bp-flc-articles-ctr">
              TOP HEADLINES
              <div class="bp-underliner"></div>
              <div class="bp-flc-articles-inr">

                <div class="bp-flc-a-row">
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                </div>
                <div class="bp-flc-a-row">
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                </div>
                <div class="bp-flc-a-row">
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                  <div class="bp-flc-a-article">

                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>

                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                </div>
                <div class="bp-vma">VIEW MORE ARTICLES</div>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>
        </div>



        <div class="blog-page-right">


          <div class="blog-page-section">

            <div class="bp-text-box">Trending</div>
            <div class="bp-underliner"></div>


            <div class="blog-sec-img-ctr">
              <img src="../../assets/featuredblog.jpg" alt="">
            </div>

            <div class="bp-text-box">Trending</div>

            <div class="blog-sec-img-ctr">
              <img src="../../assets/featuredblog.jpg" alt="">
            </div>

            <div class="bp-text-box">Trending</div>

            <div class="blog-sec-img-ctr">
              <img src="../../assets/featuredblog.jpg" alt="">
            </div>

            <div class="bp-underliner"></div>

            blog page section sample

            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>
            <div class="bp-underliner"></div>
            <div class="bp-text-box">Welcome to Brad Stevens’ after (timeout) party
              2 hrs - Kones
            </div>

            <div class="bp-underliner"></div>

            <div class="bp-big-btn">
              <div class="bp-big-btn-inr">
                VIEW MORE ARTICLES
              </div>

            </div>

          </div>

          <div class="blog-sec-img-ctr">
            <img src="../../assets/IG_BigBash16.jpg" alt="">
          </div>

          <div class="blog-page-section">
            Join Our NewsLetter
          </div>

          <div class="blog-page-section">
            Social Media
          </div>


        </div>
      </div>
      <div class="clearfix"></div>
    </div> <!-- blog-page-container -->

  </div> <!-- container -->


</body>
</html>
