<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Blog Page</title>
</head>
<body>


  <div class="container">
    <div class="blog-page-container">
      <div class="blog-page-inner-ctr">
        <div class="blog-page-left">

          <div class="blog-page-section">
            <div class="blog-section-title">Fantasy Insider’s Weekend Picks: Draftstars 19 – 22 August</div>
            <div class="blog-section-title-sub">Our top Draftstars picks and team of the week for AFL and NRL this weekend.</div>
            <div class="blog-sec-title-socials">
              <div class="bsts-text">SHARE ARTICLE</div>

              <div class="bsts-box">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="bsts-box">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div class="bsts-box">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>

            </div>
            <div class="blog-sec-img-ctr">
              <img src="../../assets/featuredblog.jpg" alt="">
            </div>

            <div class="blog-sec-article-text">
              <p>Happy Friday and welcome to the Draftstars edition of the Fantasy Insider Weekend Picks. We’re in the  nal stretch now, and 6 weeks from now we’ll be talking about the Grand Finals, with just two teams to choose from in each sport. This week we have a full slate though, so let’s jump to the games.</p>
              <div>AFL GRAND FINAL TIPS</div>
              <p>In the AFL there’s a number of games this week with low totals predicted. In fact so many that we’ll take the opposite approach to normal, and tell you to look to the Brisbane/Geelong game, the Adelaide derby, as well as GWS/Fremantle and Collingwood/Gold Coast for your higher scoring contests. GWS and Geelong are both favoured by 60-70 points, with the Bulldogs 48.5 favorites, and Adelaide at 35.5 also worth a note.</p>
              <div>HOT 30</div>
              <p>In the NRL, games got underway last night with the Broncos continuing their return to form vs Canterbury. The rest of the weekend features a lot of games totaled between 40 and 44, with Newcastle over Gold Coast, North QLD over the Warriors, and Canberra over Parramatta those favoured by over 2 tries.</p>
            </div>
            <div class="blog-sec-large-heading">Large heading example</div>

            <div class="blog-sec-article-text">
              <div class="blog-sec-large-subheading">SUB HEADING</div>
              <p>At Draftstars, we put in our full round team last night, but it didn’t feature anyone from last night’s game. The team features a few premium forwards in Ryan James, Sam Burgess and Bryce Cartwright, alongside Newcastle’s Mitchell Barnett. In the wings, Josh Mansour partners two underpriced Titans in Hayne and Hurrell, while we take advantage of Sione Mata’utia’s positional eligibility to slot him in the centres. The money saved lets us plop Cameron Smith in at Hooker, where we expect him to deliver as usual.</p>
            </div>

              <div class="blog-sec-large-subheading">TABLE HEADING (SAME AS SMALL HEADING) OR (LARGE HEADING) DEPENDING ON IMPORTANCE</div>
          <div class="bp-table">

            <table class="bp-table-inner">
              <thead>
                <tr>
                  <th>HEADING 1</th>
                  <th>HEADING 2</th>
                  <th>HEADING 3</th>
                  <th>HEADING 4</th>
                </tr>
              </thead>
              <tbsdy>
                <tr>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                  <td>
                    <div class="bpt-heading">SUB HEADING</div>
                    <div class="bpt-text">Text</div>
                  </td>
                </tr>
                <tr>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                  <td>
                  <div class="bpt-heading">SUB HEADING</div>
                  <div class="bpt-text">Text</div>
                </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="blog-sec-article-text">
            <p>And that’s it for another week. Be sure to check out the Fantasy Insider website for another week of articles, as well as a special offer on our rest of season package, just $32.95 through the  nal siren of the season. Have a great weekend, and we’ll see you on the leaderboards!</p>
          </div>


          <div class="blog-sec-img-ctr">
            <img src="../../assets/featuredblog.jpg" alt="">

            <div class="bp-img-caption">
              This is a caption this is someones
            </div>
          </div>


            <div class="bp-insider-tips-author">
              <div class="blog-section-title-sub">Posted <span>Fri 19 August by Fantasy Insider</span></div>
              <div class="blog-sec-title-socials">
                <div class="bsts-text">SHARE ARTICLE</div>

                <div class="bsts-box">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="bsts-box">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="bsts-box">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>

              </div>

              <div class="bp-blog-author-inr">
                <div class="bp-avatar-ctr">
                  <img src="" alt="">
                </div>
                <div class="bp-i-t-name">ROODY</div>
                <div class="blog-sec-article-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries.
                </div>
              </div>
            </div>

          </div>
          <div class="blog-page-section">


            <div class="bp-flc-articles-ctr">
              TOP HEADLINES
              <div class="bp-underliner"></div>
              <div class="bp-flc-articles-inr">

                <div class="bp-flc-a-row">
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                </div>
                <div class="bp-flc-a-row">
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                </div>
                <div class="bp-flc-a-row">
                  <div class="bp-flc-a-article">
                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>
                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                  <div class="bp-flc-a-article">

                    <div class="bpfa-left">
                      <div class="bpfa-date">
                        <div class="bpfa-date-left">NRL</div>
                        <div class="bpfa-date-right">17 FEB</div>
                      </div>
                    </div>

                    <div class="bpfa-right">
                      FANTASY INSIDER LINEUP CRUNCHER IS FREE FOR ORIGIN
                    </div>
                  </div>
                </div>
                <div class="bp-vma">VIEW MORE ARTICLES</div>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>
        </div>



        <div class="blog-page-right">


          <div class="blog-page-section">

            <div class="bp-trending-articles">

              <div class="bp-t-art-title">
                TRENDING
              </div>

              <div class="blog-sec-img-ctr">
                <img src="../../assets/featuredblog.jpg" alt="">
              </div>

              <div class="bp-t-art-sub">LATE MAIL ROUND 11: SuperCoach, AFL Fan- tasy & Dream Team</div>

              <div class="blog-sec-img-ctr">
                <img src="../../assets/featuredblog.jpg" alt="">
              </div>

              <div class="bp-t-art-sub">LATE MAIL ROUND 11: SuperCoach, AFL Fan- tasy & Dream Team</div>

              <div class="blog-sec-img-ctr">
                <img src="../../assets/featuredblog.jpg" alt="">
              </div>

              <div class="bp-t-art-sub">LATE MAIL ROUND 11: SuperCoach, AFL Fan- tasy & Dream Team</div>

              blog page section sample

              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>

              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>
              <div class="bp-t-art-wrp">
                <div class="bp-t-art-text">Welcome to Brad Stevens’ after (timeout) party
                </div>
                <div class="bp-t-art-minor-text">
                  2 hrs - Kones
                </div>
              </div>

              <div class="bp-big-btn">
                <div class="bp-big-btn-inr">
                  VIEW MORE ARTICLES
                </div>
              </div>

            </div>
          </div>

          <div class="blog-sec-img-ctr">
            <img src="../../assets/IG_BigBash16.jpg" alt="">
          </div>

          <div class="blog-page-section">
            Join Our NewsLetter
          </div>

          <div class="blog-page-section">
            Social Media
          </div>

        </div>
      </div>
      <div class="clearfix"></div>
    </div> <!-- blog-page-container -->

  </div> <!-- container -->


</body>
</html>
