<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title>LOGIN</title>
</head>
<body>
    <div class="container">

      <div class="login-main-ctr">

        <div class="login-header">
          LOG IN
          <div class="login-close">&#10005</div>
        </div>

        <div class="fb-login">
          <div class="fb-login-i">
            <i class="fa fa-facebook-official" aria-hidden="true">
            </i>
          </div>
          Sign in with Facebook
        </div>

        <div class="ggle-login">
          <div class="ggl-login-i">
            <i class="fa fa-google" aria-hidden="true">
            </i>
          </div>
          Sign in with Google
        </div>

        <div class="lg-alt-text">OR, SIGN IN USING YOUR EMAIL & PASSWORD</div>

        <div class="login-form-wrp">

            <input type="text" placeholder="Username">
            <input type="text" placeholder="Password">

            <div class="login-btn-wrap">
              <button>LOG IN</button>
            </div>

        </div>

        <div class="signup-wrp">
          <div class="forgot-pword">FORGOT YOUR PASSWORD?</div>
          <div class="signup-select">DON'T HAVE AN ACCOUNT?</div>
          <div class="signup-button-wrap">
            <button>SIGN UP</button>
          </div>
        </div>

      </div>
    </div> <!-- container -->
</body>
</html>
