<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Player profiles</title>
</head>
<body>

  <div class="container">
    <div class="blog-page-container">
      <div class="blog-page-inner-ctr">

        <div class="player-profile-wrp">
          <div class="p-profile-left">
            <div class="pp-jersey">
              <img src="../../images/CAR-large.png" alt="">
            </div>
            <div class="pp-name-wrp">
              <div class="pp-name">
                AMY LONGWORTH
              </div>
              <div class="pp-team">
                CARLTON FOOTBALL CLUB
              </div>
            </div>

          </div>
          <div class="p-profile-right">
            <div class="pp-ind-p-rating">
              PLAYER RATING <span>10</span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="player-rating-wrp">
          <div class="p-rating-left">
            <div class="p-rating-ot">
              PLAYER RATING OVER TIME
            </div>

          </div>
          <div class="p-rating-right">
            <!-- <div class="current-squad-wrp"> -->
              <div class="current-sqd-title">
                SIMILAR PLAYERS
              </div>
              <div class="current-squad-lu">
                <div class="cu-sq-lu-name">JAMES PATERSON</div>
                <div class="cu-sq-lu-name">PETER EDWARDS</div>
                <div class="cu-sq-lu-name">JOHN BARRETT</div>
                <div class="cu-sq-lu-name">LACHLAN KENT</div>
                <div class="cu-sq-lu-name">BARRY ALSOP</div>
                <div class="cu-sq-lu-name">JAMES LORNOW</div>
              </div>
            <!-- </div> -->
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="advert-full-width">
          <img src="../../assets/adverts/Banner_BigBash16.jpg" alt="">
        </div>

        <div class="people-also-viewed">
          <div class="pav-title">
            PEOPLE ALSO VIEWED
          </div>
          <div class="pav-col-wrp">
            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <!-- <div class="clearfix"></div> -->
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
