<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/style.css">
  <title>SI_Content</title>
</head>
<body>

<div class="container">
    <div class="blog-page-container">
    <div class="blog-page-inner-ctr">
      <div class="blog-page-left">

        <div class="blog-page-section">
          afl
          <div class="bp-underliner"></div>

          <div class="blog-sec-img-ctr">
            <img src="../../assets/featuredblog.jpg" alt="">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
a type specimen book. It has survived not only  ve centuries, but also the leap into electronic typesetting...
          </div>

          <div class="bp-underliner"></div>

          <div class="si-content-reviews">
            <div class="si-c-left"></div>
            <div class="si-c-right">
              <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
              <div class="si-c-sub">category example</div>
              <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
            </div>
          </div>

          <div class="bp-underliner"></div>

          <div class="si-content-reviews">
            <div class="si-c-left"></div>
            <div class="si-c-right">
              <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
              <div class="si-c-sub">category example</div>
              <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
            </div>
          </div>

          <div class="bp-underliner"></div>

          <div class="si-content-reviews">
            <div class="si-c-left"></div>
            <div class="si-c-right">
              <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
              <div class="si-c-sub">category example</div>
              <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
            </div>
          </div>

        </div>

        <div class="blog-page-section">
          NBA
          <div class="bp-underliner"></div>
          R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy
          <div class="blog-sec-img-ctr">
            <img src="../../images/featuredblogvideo.jpg" alt="">
          </div>
        </div>

        <div class="blog-page-section">
          SOCCER
          <div class="bp-underliner"></div>
          <div class="si-content-reviews">
            <div class="si-c-left"></div>
            <div class="si-c-right">
              <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
              <div class="si-c-sub">category example</div>
              <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
            </div>
          </div>

          <div class="bp-underliner"></div>

          <div class="si-content-reviews">
            <div class="si-c-left"></div>
            <div class="si-c-right">
              <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
              <div class="si-c-sub">category example</div>
              <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
            </div>
          </div>
        </div>

        <div class="advert-full-width">
          <img src="../../assets/adverts/Banner_BigBash16.jpg" alt="">
        </div>

      </div>

      <div class="blog-page-right">
        <div class="blog-page-section">
          top headlines
          <div class="underliner"></div>

          <div class="si-c-sports-choices"></div>
          <ul>
            <li>LeBron James’ boulevard of broken East teams..</li>
            <li>Kurtley Beale to be rested during Wallabies’ three...</li>
            <li>Welcome to Brad Stevens’ after (timeout) party</li>
            <li>Dixon: I hope to add to New Zealand’s racing history</li>
            <li>Tennis icon’s Court protest, PM weighs in</li>
            <li>Valentino Rossi injured in training crash</li>
            <li> Origin homework: Proof Qld are Maroons mad</li>
            <li> New merry-go-round to deliver Tigers target</li>
          </ul>
        </div>

        <div class="blog-page-section"></div>

        <div class="blog-sec-img-ctr">
          <img src="../../assets/IG_BigBash16.jpg" alt="">
        </div>

        <div class="blog-page-section">newsletter</div>

        <div class="blog-page-section">socials</div>


      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div>

</body>
</html>
