<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title>SI_Content</title>
</head>
<body>

<div class="container">
  <div class="blog-page-container">
    <div class="blog-page-inner-ctr">
      <div class="blog-page-left ">

        <div class="blog-page-section bt-red ">

          <div class="bp-sports-wrp">
            <div class="bp-sports-title">
              <img src="../../images/dark_ball_nrl.png" alt="">AFL
            </div>
            <div class="blog-sec-img-ctr">
              <img src="../../assets/featuredblog.jpg" alt="">
              <div class="bsec-img-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only  ve centuries, but also the leap into electronic typesetting...
              </div>
            </div>

            <div class="bp-underliner"></div>

            <div class="si-content-reviews">
              <div class="si-c-left">
                <div class="sic-art-thumb">
                  <div class="sic-art-thumb-date">
                    <div class="sic-atd-left">AFL</div>
                    <div class="sic-atd-right">17 FEB</div>
                  </div>

                </div>
              </div>
              <div class="si-c-right">
                <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
                <div class="si-c-sub">category example</div>
                <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
              </div>
            </div>

            <div class="bp-underliner"></div>

            <div class="si-content-reviews">
              <div class="si-c-left">
                <div class="sic-art-thumb">
                  <div class="sic-art-thumb-date">
                    <div class="sic-atd-left">AFL</div>
                    <div class="sic-atd-right">17 FEB</div>
                  </div>

                </div>
              </div>
              <div class="si-c-right">
                <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
                <div class="si-c-sub">category example</div>
                <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
              </div>
            </div>



            <div class="si-content-reviews">
              <div class="si-c-left">
                <div class="sic-art-thumb">
                  <div class="sic-art-thumb-date">
                    <div class="sic-atd-left">AFL</div>
                    <div class="sic-atd-right">17 FEB</div>
                  </div>

                </div>
              </div>
              <div class="si-c-right">
                <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
                <div class="si-c-sub">category example</div>
                <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-page-section bt-blue">
          <div class="bp-sports-wrp">
            <div class="bp-sports-title">
              <img src="../../assets/nba_greyball.png" alt=""> NBA
            </div>
            <div class="bp-sports-sub">
              R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy
            </div>

            <div class="blog-sec-img-ctr">
              <img src="../../images/featuredblogvideo.jpg" alt="">
            </div>
          </div>
        </div>


        <div class="blog-page-section bt-violet">
          <div class="bp-sports-wrp">

            <div class="bp-sports-title">
              <img src="../../assets/soccer_greyball.png" alt="">SOCCER
            </div>

            <div class="si-content-reviews">
              <div class="si-c-left">
                <div class="sic-art-thumb">
                  <div class="sic-art-thumb-date">
                    <div class="sic-atd-left">AFL</div>
                    <div class="sic-atd-right">17 FEB</div>
                  </div>

                </div>
              </div>
              <div class="si-c-right">
                <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
                <div class="si-c-sub">category example</div>
                <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
              </div>
            </div>

            <div class="bp-underliner"></div>

            <div class="si-content-reviews">
              <div class="si-c-left">
                <div class="sic-art-thumb">
                  <div class="sic-art-thumb-date">
                    <div class="sic-atd-left">AFL</div>
                    <div class="sic-atd-right">17 FEB</div>
                  </div>

                </div>
              </div>
              <div class="si-c-right">
                <div class="si-c-title">R6 Review & Lazy Susan: SuperCoach, Dream Team, AFL Fantasy</div>
                <div class="si-c-sub">category example</div>
                <div class="si-c-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...</div>
              </div>
            </div>
          </div>

          <div class="advert-full-width">
            <img src="../../assets/adverts/Banner_BigBash16.jpg" alt="">
          </div>
        </div>
      </div> <!-- blog page left -->

      <div class="blog-page-right">
        <div class="blog-page-section ">
          <div class="bp-top-headlines-wrp">
            <div class="bp-top-headlines-title">
              TOP HEADLINES
            </div>

            <div class="si-c-sports-choices">
              <div class="si-c-sports-choice-btn">ALL</div>
              <div class="si-c-sports-choice-btn">AFL</div>
              <div class="si-c-sports-choice-btn">NFL</div>
              <div class="si-c-sports-choice-btn">NBA</div>
              <div class="si-c-sports-choice-btn">SOCCER</div>

            </div>

            <div class="btp-t-headlines-list">
              <div class="btp-t-headline"> <span>&#9679</span>LeBron James’ boulevard of broken East teams..</div>
              <div class="btp-t-headline"> <span>&#9679</span>Kurtley Beale to be rested during Wallabies’ three...</div>
              <div class="btp-t-headline"> <span>&#9679</span>Welcome to Brad Stevens’ after (timeout) party</div>
              <div class="btp-t-headline"> <span>&#9679</span>Dixon: I hope to add to New Zealand’s racing history</div>
              <div class="btp-t-headline"> <span>&#9679</span>Tennis icon’s Court protest, PM weighs in</div>
              <div class="btp-t-headline"> <span>&#9679</span>Valentino Rossi injured in training crash</div>
              <div class="btp-t-headline"> <span>&#9679</span>Origin homework: Proof Qld are Maroons mad</div>
              <div class="btp-t-headline"> <span>&#9679</span>New merry-go-round to deliver Tigers target</div>
            </div>
          </div>
        </div>

        <div class="blog-page-section">
          <div class="sic-sports-prediction-wrp">
            <div class="sic-sports-prediction-title">
              AFL PREDICTION
            </div>
            <div class="sic-sports-prediction-date">
              MON, 28 MAR 2016 7:00pm, <span>Southern Cross Stadium</span>
            </div>
            <div class="sic-sports-prediction-teams">
              <div class="sic-sports-prediction-team">
                <div class="sic-spt-color"></div>
                CRONULLA <span>SHARKS</span>
              </div>
              <div class="sic-sports-prediction-team">
                <div class="sic-spt-color"></div>
                MELBOURNE <span>STORM</span>
              </div>
            </div>
            <div class="sic-view-all-btn">
              VIEW ALL AFL PREDICTIONS
            </div>
          </div>
        </div>

        <div class="blog-sec-img-ctr">
          <img src="../../assets/IG_BigBash16.jpg" alt="">
        </div>

        <div class="blog-page-section">
          <div class="bp-newsletter-signup-wrp">
            <div class="bp-newsletter-title">
              JOIN OUR NEWSLETTER
            </div>
            <div class="bp-newsletter-text">
              Get weekly access to our recent artics, this is example text..
            </div>
            <div class="bp-newsletter-input">
              <input type="text" placeholder="EMAIL">
              <div class="bp-newsletter-input-btn">JOIN</div>
            </div>
          </div>
        </div>

        <div class="blog-page-section">
          <div class="blog-sec-title-socials">
            <div class="bsts-text">JOIN THE CONVERSATION</div>

            <div class="bsts-box">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="bsts-box">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="bsts-box">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>

          </div>
        </div>


      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div>

</body>
</html>
