<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title>pop-up</title>
</head>
<body>
    <div class="container">
      <div class="popup-ctr">
        <div class="popup-close">&#10005</div>
        <div class="popup-inr">

          <div class="popup-text-wrp">
            <div class="popup-header">
              HEADER
            </div>
          </div>

          <div class="popup-form-wrp">
            <form action="">
              <div class="popup-input-section">
                <label for="">FORM</label>
                <input type="number">
              </div>
              <div class="popup-input-section">
                <label for="">UNIQUE PLAYERS PER LINEUP</label>
                <input type="text">
              </div>
              <div class="popup-input-section">
                <label for="">MAXIMUM EXPOSURE PER PLAYER (%):</label>
                <input type="text">
              </div>
              <div class="popup-input-section">
                <label for="">SALARY CAP</label>
                <input type="text">
              </div>
              <!-- <div class="popup-input-section"> -->

                <div class="checkbox-wrp">
                  <label for="">Check Boxes</label>
                  <input type="checkbox">
                </div>

              <!-- </div> -->
            </form>

          </div>
          <div class="popup-text-wrp">
            <div class="popup-header">
              HEADER
            </div>
            <div class="popup-text-body">
              Body text example contrary to popular belief, Lorem Ipsum is not sim- ply random text. It has roots in a piece of classical Latin literature from
               45 BC, making it over 2000 years old
            </div>
          </div>

        </div>
      </div>
    </div> <!-- container -->
</body>
</html>
