<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Team Profiles</title>
</head>
<body>

  <div class="container">
    <div class="blog-page-container">
      <div class="blog-page-inner-ctr">

        <div class="team-profile-wrp">
          <div class="t-profile-left">

            <div class="tp-jersey">
              <img src="../../images/CAR-large.png" alt="">
            </div>
            <div class="tp-team-info">
              <div class="tp-team-info-title">
                CARLTON FOOTBALL CLUB
              </div>
              <div class="tp-team-info-sub">
                CARLTON HAS A <span>19%</span> CHANCE OF WINNING THE GRAND FINAL THIS WEEK
              </div>
              <div class="tp-team-info-chart">
                chart
              </div>
            </div>

          </div>
          <div class="t-profile-right">
            <div class="tpr-stats">RECORD <span>10</span></div>
            <div class="tpr-stats">LADDER POS <span>10</span></div>
            <div class="tpr-stats">POWER RANKING <span>10</span></div>
            <div class="tpr-stats">TEAM RANKING <span>10</span></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="upcoming-match-wrap">
          <div class="umw-title">
            UPCOMING MATCH
          </div>
          <div class="upcoming-match-table">
              <div class="umt-title">
                <span>FRI 25 MAR 2016</span> 8:05pm, Suncorp Stadium <span>NRL Round 4</span>
              </div>

                <table>
                  <thead>
                    <tr>
                      <td>TEAM (RECORD, ATS, RECORD)</td>
                      <td class="umt-p-o">c</td>
                      <td class="umt-p-o">display</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>CARLTON BLUES</td>
                      <td class="umt-p-o">19</td>
                      <td class="umt-p-o">14</td>
                    </tr>
                    <tr>
                      <td >BRISBANE BRONCOS</td>
                      <td class="umt-p-o">19</td>
                      <td class="umt-p-o">14</td>
                    </tr>
                  </tbody>
                </table>
                <div class="umt-socials"></div>
                <div class="umt-buttons">
                  <div class="umt-button-dmp">VIEW DETAILED MATCH PAGE</div>
                  <div class="umt-button-vl">VIEW LIVE</div>
                  <div class="clearfix"></div>
                </div>
          </div>
        </div>
        <div class="current-squad-wrp">
          <div class="current-sqd-title">
            CURRENT SQUAD
          </div>
          <div class="current-squad-lu">

            <div class="cslu-row">
              <div class="cur-sq-lu-name-title">NAME</div>
              <div class="cur-sq-lu-rating-title">RATING</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>

          </div>
        </div>

        <div class="team-rating-ot-wrp">
          <div class="tr-ot-title">TEAM RATING OVER TIME</div>
          <div class="tr-table">

          </div>
        </div>

        <div class="advert-full-width">
          <img src="../../assets/adverts/Banner_BigBash16.jpg" alt="">
        </div>

        <div class="people-also-viewed">
          <div class="pav-title">
            PEOPLE ALSO VIEWED
          </div>
          <div class="pav-col-wrp">
            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <!-- <div class="clearfix"></div> -->
          </div>
        </div>

      <div class="clearfix"></div>
    </div> <!--blog-page-inner-ctr -->
  </div> <!-- blog page ctr -->
</div> <!--ctr -->

</body>
</html>
