<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Team Profiles</title>
</head>
<body>

  <div class="container">
    <div class="blog-page-container">
      <div class="blog-page-inner-ctr">

        <div class="team-profile-wrp">
          <div class="t-profile-left">

            <div class="tp-jersey">
              <img src="../../images/CAR-large.png" alt="">
            </div>
            <div class="tp-team-info">
              <div class="tp-team-info-title">
                CARLTON FOOTBALL CLUB
              </div>
              <div class="tp-team-info-sub">
                CARLTON HAS A <span>19%</span> CHANCE OF WINNING THE GRAND FINAL THIS WEEK
              </div>
              <div class="tp-team-info-chart">
                <img src="../../images/trot.png" alt="">
              </div>
            </div>

          </div>
          <div class="t-profile-right">
            <div class="tpr-stats">RECORD <span>10</span></div>
            <div class="tpr-stats">LADDER POS <span>10</span></div>
            <div class="tpr-stats">POWER RANKING <span>10</span></div>
            <div class="tpr-stats">TEAM RANKING <span>10</span></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="upcoming-match-wrap">
          <div class="umw-title">
            UPCOMING MATCH
          </div>
          <div class="upcoming-match-table">
            <div class="umt-date-header">
              FRI 25 MAR 2016 <span>8:05pm, Suncorp Stadium</span> <span>NRL Round 4</span>
            </div>
            <div class="umt-main-table">
              <div class="umt-mt-row">
                <div class="umt-mt-team">TEAM (RECORD, ATS, RECORD)</div>
                <div class="umt-mt-predicted">PREDICTED</div>
                <div class="umt-mt-outcome">OUTCOME</div>
              </div>

              <div class="umt-mt-row">
                <div class="umt-mt-team umtmt-bg_b">
                  <div class="umt-team-color">

                  </div>
                  <div class="umt-team-right">
                    <div class="umt-team-title">
                      CARLTON <span>BLUES</span>
                    </div>
                    <div class="umt-team-pr">
                      Power Ranking <span>5</span>
                    </div>
                  </div>

                </div>
                <div class="umt-mt-predicted">19</div>
                <div class="umt-mt-outcome">14</div>
              </div>

              <div class="umt-mt-row">
                <div class="umt-mt-team umtmt-bg_b">
                  <div class="umt-team-color">

                  </div>
                  <div class="umt-team-right">
                    <div class="umt-team-title">
                      BRISBANE <span>BRONCOS</span>
                    </div>
                    <div class="umt-team-pr">
                      Power Ranking <span>7</span>
                    </div>
                  </div>

                </div>
                <div class="umt-mt-predicted">19</div>
                <div class="umt-mt-outcome">14</div>
              </div>
            </div>
          </div>
          <div class="umt-socials">
            <div class="umt-socials-title">
              Share projections
            </div>
            <div class="umt-socials-icons">
                <img src="../../assets/Facebook_Inactive.png" alt="">
                <img src="../../assets/Twitter_Inactive.png" alt="">
                <img src="../../assets/Mail_Inactive.png" alt="">
            </div>
            <div class="share-socials-imgs">
              <img src="" alt="">
              <img src="" alt="">
              <img src="" alt="">
            </div>
          </div>
          <div class="umt-buttons">
            <div class="umt-button-dmp">VIEW DETAILED MATCH PAGE</div>
            <div class="umt-button-vl">VIEW LIVE</div>
          </div>
        </div>

        <div class="current-squad-wrp">
          <div class="current-sqd-title">
            CURRENT SQUAD
          </div>
          <div class="current-squad-lu">

            <div class="cslu-row">
              <div class="cur-sq-lu-name-title">NAME</div>
              <div class="cur-sq-lu-rating-title">RATING</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>
            <div class="cslu-row">
              <div class="cur-sq-lu-name">BRYCE GIBBS</div>
              <div class="cur-sq-lu-rating">1</div>
            </div>

          </div>
        </div>

        <div class="team-rating-ot-wrp">
          <div class="tr-ot-title">TEAM RATING OVER TIME</div>

          <div class="tr-table">
            <div class="tr-ot-placeholder-img">
              <img src="../../images/prot.png" alt="">
            </div>
          </div>
        </div>

        <div class="advert-full-width dp-none-small">
          <img src="../../assets/adverts/Banner_BigBash16.jpg" alt="">
        </div>

        <div class="people-also-viewed">
          <div class="pav-title">
            PEOPLE ALSO VIEWED
          </div>

          <select class="pav-select">
            <option selected disabled>Select</option>
            <option value="">NAT FYFE</option>
            <option value="">LANCE FRANKLIN</option>
            <option value="">PATRICK DANGERFIELD</option>
            <option value="">NAT FYFE</option>
            <option value="">LANCE FRANKLIN</option>
            <option value="">PATRICK DANGERFIELD</option>
          </select>

          <div class="pav-col-wrp">
            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <div class="pav-col">
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
              <div class="pav-people">NAT FYFE</div>
              <div class="pav-people">LANCE FRANKLIN</div>
              <div class="pav-people">PATRICK DANGERFIELD</div>
            </div>

            <!-- <div class="clearfix"></div> -->
          </div>
        </div>

      <div class="clearfix"></div>
    </div> <!--blog-page-inner-ctr -->
  </div> <!-- blog page ctr -->
</div> <!--ctr -->

</body>
</html>
