<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Team Profiles</title>
</head>
<body>

  <div class="container">
    <div class="blog-page-container">
      <div class="blog-page-inner-ctr">

        <div class="team-profile-wrp">
          <div class="t-profile-left">

          </div>
          <div class="t-profile-right">

          </div>
          <div class="clearfix"></div>
        </div>

        <div class="upcoming-match-wrap">upcoming match</div>
        <div class="current-squad-wrp">current squad</div>
        <div class="team-rating-ot-wrp">team rating over time</div>

        <div class="advert-full-width">
          <img src="../../assets/adverts/Banner_BigBash16.jpg" alt="">
        </div>

        <div class="people-also-viewed">People also viewed</div>

      <div class="clearfix"></div>
      </div>
    </div>
  </div>

</body>
</html>
